/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/*Fonts end*/

/*Common styles*/
body {
    margin: 0;
}

/*First section*/
.first-section {
    background-color: rgb(58, 54, 54);
    padding-left: 90px;
    width: 80%;
    margin-left: 8%;
    margin-top: 5%;
    border-radius: 30px;
}

.main-flex {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.half-width {
    width: 80%;
}

.half-width h1 {
    font-size: 2.8rem;
    color: white;
}

.half-width h6 {
    font-size: 1rem;
    color: white;
    font-weight: 100;
}

.half-width span {
    color: orangered;
    font-family: 'Dancing Script', cursive;
}

.half-width img {
    width: 90%;
    padding-top: 40px;
    position: relative;
    left: 10%;
    margin-left: 30%;
}

.btn-01 {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 15px 30px;
    border-radius: 5px;
}

/*hover*/
.btn-01:hover {
    background-color: orangered;
}

/*First section done*/


/*Second section*/

.second-section {
    width: 85%;
    margin-left: 8%;
}

.second-section-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20%;
    grid-column-gap: 5%;
    margin-top: 10%;

}

.three-btn {
    background: none;
    border-radius: 10px;

}

.btn {
    padding: 20px;
}

.btn button {
    display: flex;
    padding: 12px 35px;
    margin: 1%;
    font-size: 1.5rem;

}

button {
    border-radius: 10px;
}

button a {
    text-decoration: none;

}

.btn-001 {
    margin-top: 10%;
    border-radius: 5px;

}

.btn-001 a {
    text-decoration: none;
    font-size: 1.5rem;
}

.red-btn {
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 12px 15px;
}

/*flags item*/
.flag-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 5px 5px 20px gray;
    border-radius: 10px;
}

.flag-half {
    width: 80%;
    padding: 2%;
}

.flag-half img {
    width: 100%;
}

.flexible {
    display: flex;
    align-items: center;

}

.country {
    position: relative;
    left: 16%;
    align-items: center;
    top: 5%;
    font-size: 1rem;
}

.country h6 {
    position: relative;
    left: 10%;
}

#vs {
    position: relative;
    left: 40%;
    font-size: 1.5rem;
    font-weight: 700;
}

/*flags item done*/

/*Second section done*/

/*Footer section*/
footer {
    background-color: rgb(58, 54, 54);
    height: 400px;
    margin-top: 15%;
}

.goal {
    color: orangered;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
}

hr {
    width: 80%;
}

.goal-info {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B9B9B9;
    padding-top: 20px;

}

.info {
    color: white;
    padding: 10px;
    font-size: 1rem;
}

/*icons*/
.pro-icons {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem;
}

.pro-icon {
    padding: 20px;
    transform: 0.5;
}

.pro-icon:hover {
    color: orangered;
    transition: 0.5s;
}

/*Footer section done*/

/*media query*/
/*Mobile Device*/
@media screen and (max-width: 776px) {

    /*First Section*/
    .first-section {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
        margin-top: 0;
        border-radius: 0;
    }

    .main-flex {
        flex-direction: column;
    }

    .half-width h1 {
        font-size: 2rem;
    }

    .half-width h6 {
        font-size: 15px;
    }

    .half-width {
        text-align: center;
    }

    .variation {
        padding-left: 24%;
        padding-bottom: 10%;
    }

    .half-width img {
        width: 100%;
        margin-left: 10%;
    }

    /*Second Section*/
    .second-section {
        width: 85%;
        margin-left: 7%;
    }

    .second-section-main {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 2%;
        margin-top: 2%;
    }

    /*Footer Section*/
    footer {
        height: 600px;
        margin-top: 400px;
    }

    .goal-info {
        flex-direction: column;
        padding-top: 0;
        padding: 0;
    }

    .info {
        padding: 0;
        font-size: 10px;
    }

    .pro-icons {
        font-size: 1rem;
    }
}